@mixin miclase ($color:#cc3366, $tamanio: 5){
    $cambioTamanio: $tamanio;
    $count: 5%;
    @for $i from 1 through 6 {
        $cambioColor: $color;
        $cambioColor: darken($cambioColor, $count);
        .miclase h#{$i}{
            font-size:($cambioTamanio)+rem;
            color: $cambioColor;
        }
        $cambioTamanio:($cambioTamanio*0.8);
        $count: $count + 5%;
    }
}
@include miclase();