@mixin miclase ($color: #378a26, $tamanio: 4rem) {
    $cambioColor: $color;
    $cambioTamanio: $tamanio;

    @for $i from 1 through 6 {
        .miclase h#{$i}{
            color: saturate($color, $i * 10%);
            font-size: $tamanio;
        }
        $tamanio: $tamanio * 0.8;
    }
}

@include miclase();