@mixin miclase ($color: #919b09, $tamanio: 5rem) {
    $cambioColor: $color;
    $cambioTamanio: $tamanio;

    @for $i from 1 through 6 {
        .miclase h#{$i}{
            color: desaturate($color, $i * 10%);
            font-size: $tamanio;
        }
        $tamanio: $tamanio * 0.7;
    }
}

@include miclase();